@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --ls-bg: #f5f5f7;
  --ls-surface: #24a95e;
  --ls-surface-soft: #fafafa;
  --ls-border: #e5e7eb;

  --ls-text: #1f2933;
  --ls-text-muted: white;

  --ls-primary: #24a95e; /* Call to action blue */
  --ls-secondary: #4a4a4a; /* Secondary text */
  --ls-accent-green: #21a05d;
  --ls-accent-red: #d20429;
  --ls-accent-red-dark: #9a1e22;
  --ls-primary-soft: #f0e7d5; /* light neutral / primary bg */

  --ls-radius-lg: 18px;
  --ls-radius-md: 12px;
  --ls-radius-sm: 8px;

  --ls-shadow-soft: 0 18px 40px rgba(15, 23, 42, 0.08);
  --ls-shadow-card: 0 10px 30px rgba(15, 23, 42, 0.06);

  --ls-transition: 0.18s ease-out;

  --overlay-bg: rgba(255, 255, 255, 0.3);

  --ls-overlay-blur: blur(1px);

  --ls-group: #f6eed8;
}
